* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

#divider {
	height: 5px;
	background-color: #dc5f5f;
}

#header_container {
	background-color: blue;
	max-width: 1400px;
	margin: auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header_menu {
	display: flex;
	align-items: center;
}
