@font-face {
	font-family: Chunk;
	src: url(./assets/fonts/Chunk.ttf);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

h1 {
	margin: 0 10px;
	font-family: Chunk;
	color: #dc5f5f;
}

h2 {
	margin: 10px 0;
	font-family: Chunk;
	color: #dc5f5f;
}

img {
	width: 100%;
	height: 100%;
}

/* Header */

#divider {
	height: 5px;
	background-color: #dc5f5f;
}

#header_container {
	max-width: 1400px;
	margin: auto;
	padding: 10px 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#button_menu {
	background-color: rgb(225, 225, 225);
	display: flex;
	align-items: center;
	padding: 5px;
	border: none;
	border-radius: 2px;
}

#button_menu:hover {
	cursor: pointer;
	background-color: rgb(189, 189, 189);
}

#header_menu {
	display: flex;
	align-items: center;
}

#subscribe_button {
	padding: 5px;
	border-radius: 2px;
	background-color: rgb(241, 241, 92);
	font-weight: bold;
	border: none;
}

#subscribe_button:hover {
	cursor: pointer;
	background-color: rgb(225, 225, 48);
}

nav {
	background-color: #dc5f5f;
}

ul {
	display: flex;
	list-style: none;
	text-align: center;
}

a {
	all: unset;
	flex-basis: 0;
	flex-grow: 1;
	padding: 10px 0px;
	color: white;
	cursor: pointer;
}

a:hover {
	background-color: #c13a3a;
}

@media screen and (max-width: 480px) {
	#header_subscribe,
	#subtitle_header,
	#button_menu_text {
		display: none;
	}

	#header_container {
		justify-content: center;
	}

	ul {
		display: flex;
		flex-direction: column;
	}
}

/*  */

/* Main */

section {
	max-width: 1400px;
	margin: 30px auto;
}

.articles {
	background-color: rgb(225, 225, 225);
	display: flex;
	border-radius: 3px;
}

.article {
	background-color: white;
	width: 25%;
	margin: 5px;
	padding: 10px;
	border-radius: 3px;
	display: flex;
	height: 200px;
	border: 3px rgb(195, 195, 195) solid;
}

.image_article_container {
	width: 50%;
}

.article_content {
	width: 50%;
	margin-left: 10px;
}

.article_title {
	font-weight: bold;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.article_desc {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
}

@media screen and (max-width: 480px) {
	section {
		padding: 10px;
	}

	.articles {
		display: flex;
		flex-direction: column;
	}

	.article {
		width: 97%;
	}
}

/*  */
